<ion-header [hidden]="!hasGameStarted" [class.show-header]="screenTapped">
  <ion-toolbar color=tertiary>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title class="ion-text-center">
      <ng-container *ngIf=isGamePaused>
        <ion-icon (click)=playOrPause(1) name="play" class="controller-buttons"></ion-icon>&nbsp;Play
      </ng-container>
      <ng-container *ngIf=!isGamePaused>
        <ion-icon (click)=playOrPause(2) name="pause" class="controller-buttons"></ion-icon>&nbsp;Pause
      </ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (click)="screenTap()" color="secondary">
  <div id="canvas-container">
    <video #video id="video" [class.game-not-started]="!hasGameStarted" muted autoplay></video>
    <img id="player" [class]="phase" [src]="imgSrc[phase]" alt="">
  </div>

  <div *ngIf="!isGameOver" class="score">
    <b class="score-label">Score:</b><span class="score-number">{{score}}</span>
  </div>

  <div *ngIf="!hasGameStarted" id="busted-area">
    <h1 *ngIf="isGameOver" class="busted-score">SCORE: {{score}}</h1>

    <h1 *ngIf="isGameOver" id="busted-text">Wasted !!</h1>
    <div class="restart">
      <svg class="circle-svg">
        <circle (click)="startGame()" class="circle" cx="50" cy=50 r=40 />
        <text *ngIf=isGameOver class="restart-text" x=125 y=63>Restart</text>
        <text *ngIf=!isGameOver class="restart-text" x=125 y=63>Start</text>
      </svg>
      <ion-icon (click)="startGame()" name="triangle" class="play-button"></ion-icon>
    </div>

    <div class="setting" (click)="showRule()">
      <ion-icon name="settings"></ion-icon><span style="vertical-align: top;">&nbsp;Rules</span>
    </div>
  </div>

  <div *ngIf="modelNotLoadedShowSpinner" class="model-loading-container">
    <div class="model-loader">Slow network, AI Loading...</div>
  </div>
</ion-content>